@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Login";
}
<!-- Iniciar Sesión -->
<!-- Formulario de inicio de sesión que enviará los datos al método POST del controlador -->
<h2>Iniciar Sesión</h2>
<form method="post">
    <div>
        <label>Usuario:</label>
        <input type="text" name="usuario" required />
    </div>

    <div>
        <label>Contraseña:</label>
        <input type="password" name="contrasena" required />
    </div>

    <button type="submit">Ingresar</button>

    <!-- Mensaje de error si el controladora devuelve uno, esta parte se encontraba en las últimas líneas del controlador -->
    <p style="color: red;">ViewBag.Error</p>
</form>